<%= form_with url: account_register_path, scope: :registration, model: form, local: true, class: "login-form" do |f| %>
  <% if @after_sign_in.present? || params[:after_sign_in].present? %>
    <%= hidden_field_tag :after_sign_in, @after_sign_in.presence || params[:after_sign_in].presence %>
  <% end %>
  <div class="form-field">
    <%= f.label :email, t("account.signups.form.email_label") %>
    <%= f.email_field :email, required: true, autocomplete: "email" %>
  </div>
  <div class="form-field">
    <%= f.label :password, t("account.signups.form.password_label") %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  </div>
  <div class="form-field">
    <%= f.label :password_confirmation, t("account.signups.form.password_confirmation_label") %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>
  <%= f.submit t("account.signups.form.submit"), class: "btn btn-primary" %>
<% end %>
