<h1><%= t("admin.offerings.index.title") %></h1>

<p>
  <% if current_admin_permissions&.allow?(:manage_offerings) %>
    <%= link_to t("admin.offerings.index.new_button"), new_admin_offering_path, class: "btn btn-primary" %>
  <% end %>
</p>

<table class="table">
  <thead>
    <tr>
      <th><%= t("admin.offerings.index.table.title") %></th>
      <th><%= t("admin.offerings.index.table.type") %></th>
      <th><%= t("admin.offerings.index.table.price") %></th>
      <th><%= t("admin.offerings.index.table.status") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.title %></td>
        <td><%= t("admin.offerings.types.#{offering.offering_type}", default: offering.offering_type.humanize) %></td>
        <td><%= number_to_currency(offering.price_cents / 100.0, unit: offering.currency) %></td>
        <td>
          <%= offering.active? ? t("admin.offerings.statuses.active") : t("admin.offerings.statuses.archived") %>
        </td>
        <td><%= link_to t("admin.offerings.index.table.view"), admin_offering_path(offering) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
