<% form_object = local_assigns[:form] || @form %>
<% registration_object = local_assigns[:registration] || @registration %>
<% gathering_registration = registration_object&.registrable_type == "TempleGathering" %>
<% lifecycle_policy = Registrations::LifecyclePolicy.new(registration_object) %>
<% core_fields_editable = lifecycle_policy.core_fields_editable? %>
<% contact_fields_editable = lifecycle_policy.contact_fields_editable? %>
<% offering_fields_editable = lifecycle_policy.metadata_fields_editable? %>
<%= form_with model: form_object, url: account_registration_path(registration_object), method: :patch, local: true, class: "form-stack" do |f| %>
  <div class="field-panel">
    <%= f.label :quantity, t("account.registrations.new.fields.quantity") %>
    <%= f.number_field :quantity, min: 1, max: 10, required: true, readonly: !core_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :registrant_scope, t("account.registrations.new.fields.registrant_scope") %>
    <%= f.select :registrant_scope,
      options_for_select(
        [
          [t("account.registrations.new.fields.self_option"), "self"],
          [t("account.registrations.new.fields.dependent_label"), "dependent"]
        ],
        form_object.registrant_scope
      ),
      {},
      disabled: !core_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :dependent_id, t("account.registrations.new.fields.dependent_label") %>
    <%= f.select :dependent_id,
      options_for_select(
        [[t("account.registrations.new.fields.dependent_placeholder"), ""]] +
          Array(@dependents).map { |dep| [dep.native_name.presence || dep.english_name, dep.id] },
        form_object.dependent_id
      ),
      {},
      disabled: !core_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :contact_name, t("account.registrations.form.contact_name") %>
    <%= f.text_field :contact_name, required: true, readonly: !contact_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :contact_phone, t("account.registrations.form.contact_phone") %>
    <%= f.telephone_field :contact_phone, readonly: !contact_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :contact_email, t("account.registrations.form.contact_email") %>
    <%= f.email_field :contact_email, readonly: !contact_fields_editable %>
  </div>
  <div class="field-panel">
    <%= f.label :household_notes, t("account.registrations.form.household_notes") %>
    <%= f.text_area :household_notes, rows: 3, readonly: !contact_fields_editable %>
  </div>
  <% unless gathering_registration %>
    <div class="field-panel">
      <%= f.label :arrival_window, t("account.registrations.form.arrival_window") %>
      <%= f.text_field :arrival_window, placeholder: t("account.registrations.form.arrival_placeholder"), readonly: !offering_fields_editable %>
    </div>
    <div class="field-panel">
      <%= f.label :ceremony_notes, t("account.registrations.form.ceremony_notes") %>
      <%= f.text_area :ceremony_notes, rows: 3, readonly: !offering_fields_editable %>
    </div>
  <% end %>
  <%= f.submit t("account.registrations.form.submit"), class: "btn btn-primary" %>
<% end %>
