<h1><%= t("admin.offering_orders.index.title", offering: @offering.title) %></h1>

<p>
  <%= link_to t("admin.offering_orders.index.new_registration"), new_admin_offering_offering_order_path(@offering), class: "btn btn-primary" %>
</p>

<table class="table">
  <thead>
    <tr>
      <th><%= t("admin.offering_orders.index.table.reference") %></th>
      <th><%= t("admin.offering_orders.index.table.user") %></th>
      <th><%= t("admin.offering_orders.index.table.status") %></th>
      <th><%= t("admin.offering_orders.index.table.quantity") %></th>
      <th><%= t("admin.offering_orders.index.table.total") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.reference_code %></td>
        <td><%= registration.user&.english_name || registration.contact_payload["contact_name"] %></td>
        <td><%= t("admin.orders.statuses.#{registration.payment_status}", default: registration.payment_status) %></td>
        <td><%= registration.quantity %></td>
        <td><%= number_to_currency(registration.total_price_cents / 100.0, unit: registration.currency) %></td>
        <td><%= link_to t("admin.offering_orders.index.table.view"), admin_offering_offering_order_path(@offering, registration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
